@import "pretendard/dist/web/static/pretendard.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html, body {
  height: 100%;
}

body {
  font-family: Pretendard, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
  background: rgb(248 250 252); /* slate-50 */
  color: rgb(15 23 42); /* slate-900 */
}

a {
  color: rgb(4 120 87); /* emerald-700 */
}

a:hover {
  color: rgb(6 95 70); /* emerald-800 */
}

pre {
  white-space: pre-wrap;
  line-height: 1.65;
}
